<configuration>
  <connectionStrings>
    <add name="Abp.Redis.Cache" connectionString="US-01:6379"/>
  </connectionStrings>
  <appSettings>
    <!-- 在同一个服务器上使用不同的数据库Id是非常有用的这可以创建不同的Key Spaces(隔离缓存)。 -->
    <add key="Abp.Redis.Cache.DatabaseId" value="1"/>
    
    <add key="owin:AutomaticAppStartup" value="false"/>
  </appSettings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
